body {
    background-color: #9a9898; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.app-header {
    margin-bottom: 20px;
}
.app-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: #000000;
}

.search-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: #ffffff;
}
.search-header {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.search-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.search-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-button {
    background-color: #10b981;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.search-result-card {
    padding: 15px;
    border: 2px solid #10b981;
    border-radius: 8px;
    background-color: #10b98192;
    max-width: 400px;
    margin: 15px auto 0;
}
.search-result-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.static-list-container {
    max-width: 900px;
    margin: 0 auto;
}
.static-list-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.pokemon-list {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.pokemon-card {
    width: 150px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    color: #333;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.loading-message {
    color: #10b981;
    font-weight: 500;
}
.error-message {
    color: #dc2626;
    font-weight: 500;
}